# roles/common/tasks/main.yml

- name: Atualizar cache APT
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Instalar pacotes base do sistema
  ansible.builtin.apt:
    name:
      - git
      - unzip
      - curl
      - htop
      - gnupg
      - ca-certificates
      - software-properties-common
      - nginx
      - python3-venv
      - build-essential
      - libpq-dev
      - ufw
    state: present

- name: Adicionar chave GPG do NodeSource
  ansible.builtin.get_url:
    url: https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key
    dest: /usr/share/keyrings/nodesource.gpg
    mode: "0644"
  when: ansible_os_family == "Debian"

- name: Configurar repositório NodeSource Node 18.x
  ansible.builtin.apt_repository:
    repo: >-
      deb [signed-by=/usr/share/keyrings/nodesource.gpg]
      https://deb.nodesource.com/node_18.x nodistro main
    filename: nodesource-node18
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Instalar Node.js 18.x (inclui npm)
  ansible.builtin.apt:
    name: nodejs
    state: present

- name: Adicionar chave GPG do Google Chrome
  ansible.builtin.get_url:
    url: https://dl-ssl.google.com/linux/linux_signing_key.pub
    dest: /usr/share/keyrings/google-chrome.gpg
    mode: "0644"
  when: ansible_architecture == "x86_64"

- name: Configurar repositório do Google Chrome
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch=amd64 signed-by=/usr/share/keyrings/google-chrome.gpg]
      http://dl.google.com/linux/chrome/deb/ stable main
    filename: google-chrome
    state: present
  when: ansible_architecture == "x86_64"

- name: Instalar Google Chrome estável
  ansible.builtin.apt:
    name: google-chrome-stable
    state: present
    update_cache: yes
  when: ansible_architecture == "x86_64"

- name: Instalar Composer globalmente
  ansible.builtin.apt:
    name: composer
    state: present
