server {
    listen 80;
    server_name {{ app_domain }};
    root /var/www/energia-frontend;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    access_log /var/log/nginx/frontend_access.log;
    error_log  /var/log/nginx/frontend_error.log;
}
