---
- hosts: app
  serial: 1
  become: true

  vars:
    app_path: /var/www/energia-assinatura/current
    frontend_origin: https://app.consorcioliderenergy.com.br
    php_fpm_service: php8.2-fpm
    release_path: "{{ app_path }}"
    repo_path: "{{ app_root }}/repo"

    # VARIÁVEIS INJETADAS PELO GITHUB ACTIONS
    db_host: "{{ vault_db_host }}"
    db_name: "{{ vault_db_name }}"
    db_username: "{{ vault_db_username }}"
    db_password: "{{ vault_db_password }}"
    app_key: "{{ vault_app_key }}"
    jwt_secret: "{{ vault_jwt_secret }}"

    nginx_configure_frontend: false

  pre_tasks:
    - name: Garantir diretórios base
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ app_user }}"
        group: "{{ app_user }}"
        mode: "0755"
      loop:
        - "{{ app_root }}"
        - "{{ app_root }}/shared"
        - "{{ app_root }}/shared/storage"
        - "{{ app_root }}/shared/bootstrap/cache"

    - name: Template ENV de produção
      ansible.builtin.template:
        src: env_backend.j2
        dest: "{{ app_root }}/shared/.env"
        owner: "{{ app_user }}"
        group: "{{ app_user }}"
        mode: "0644"

  roles:
    - role: common
    - role: php
    - role: backend
    - role: nginx
    - role: schedule

  post_tasks:
    - name: Garantir aplicação de handlers pendentes
      ansible.builtin.meta: flush_handlers



- hosts: frontend
  serial: 1
  become: true

  vars:
    release_path: "{{ app_root }}/frontend"
    repo_path: "{{ app_root }}/repo"

  pre_tasks:
    - name: Garantir diretórios base do frontend
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ app_user }}"
        group: "{{ app_user }}"
        mode: "0755"
      loop:
        - "{{ app_root }}"
        - "{{ repo_path | dirname }}"
        - "{{ release_path }}"
        - "{{ frontend_root }}"

  roles:
    - role: common
    - role: frontend
    - role: nginx

  post_tasks:
    - ansible.builtin.debug:
        msg: "Frontend deployment finalizado com sucesso."
